
body {
  --bs-code-color: rgba(var(--bs-primary-rgb), 0.8);
}

h1, h2, h3, h4, h5, h6 {
  @extend %headings !optional;
}

%headings {
  margin-top: 1rem;
}

pre {
  padding: 1rem;
  background: #fefbfa;
  border-style: none none none solid;
  border-color: rgba(var(--bs-primary-rgb), 0.6);
  border-radius: 0;
  border-width: 0.2em;
}

.btn-copy-ex {
  padding: 0.5em 1em;
}

// for dev version tag, which can be hard to read with bright navbars
.nav-text.text-danger {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 0.2em 0.8em;
  border-radius: 1em;
}

.navbar-dark {
  --bs-navbar-color: rgba(var(--bs-body-bg-rgb), 0.8);
  --bs-navbar-hover-color: rgba(var(--bs-body-bg-rgb), 1.0);
  font-weight: bolder;

  .navbar-nav {
    .active > .nav-link {
      background: rgba(255, 255, 255, 0.2);
    }
  }

  input[type="search"] {
    border: none;
    border-radius: 0.1em;
    background-color: rgba(var(--bs-body-bg-rgb), 0.8);
    color: rgba(var(--bs-primary-rgb), 0.6);
    &:focus { background-color: rgba(var(--bs-body-bg-rgb), 0.90); }
  }
}

.text-muted {
  color: rgba(var(--bs-body-bg-rgb), 0.6) !important;
}
